.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  text-align: center;
  clear: left;
}

h3 {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.card {
  margin: 0 auto;
}

hr.lg {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

footer {
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

footer dl {
  color: whitesmoke;
  font-size: 15px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
}

h4 {
  font-family: "Dancing Script", cursive;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 10rem;
}

.container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 600px) {
  iframe {
    display: none;
  }
}

a:visited:not(.dl-footer) {
  color: purple !important;
}

.dl-footer {
  text-decoration: underline;
  color: inherit;
}

.dl-footer:hover {
  color: white;
}
